body {
  background-color: #1e1a2e;
  color: #f8eeff;
 font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.nav {
  background-color: #2a2340;
  text-align: center;
  padding: 15px;
}

.nav a {
  color: #ffd6f6;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.nav a:hover {
  color: white;
}

.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  color: #ffb3d9;
  margin-bottom: 10px;
}

.hero p {
  color: #d9c7ff;
}

.card {
  background-color: #2b2440;
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
}

h2 {
  color: #cdb4ff;
}

ul {
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

button {
  background-color: #ffb3d9;
  color: #1e1a2e;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  background-color: #ffd6f6;
}